## initialize

In [ ]:
%cd ..

In [1]:
%load_ext autoreload
%autoreload 2

In [12]:
import dotenv
import pandas as pd

In [3]:
dotenv.load_dotenv()

True

## voices eda

In [4]:
# df = pd.read_csv('data/11labs_tts_voices.csv')
df = pd.read_csv('data/11labs_available_tts_voices.reviewed.csv')
df["age"] = df["age"].str.replace(" ", "_").str.replace("-", "_")
print(df.shape)

(34, 15)

In [5]:
df.columns

Index(['voice_id', 'name', 'preview_url', 'manual_quality_review', 'owner_id',
       'permission_on_resource', 'is_legacy', 'is_mixed', 'accent',
       'description', 'age', 'gender', 'category', 'language', 'descriptive'],
      dtype='object')

In [6]:
df['language'].value_counts(dropna=False)

language
NaN    25
en      9
Name: count, dtype: int64

In [7]:
df['gender'].value_counts(dropna=False)

gender
female    17
male      17
Name: count, dtype: int64

In [8]:
df['age'].value_counts(dropna=False)

age
middle_aged    13
young          11
old            10
Name: count, dtype: int64

In [9]:
df.groupby(['age', 'gender'], dropna=False)['voice_id'].count().unstack(fill_value=0)

gender       female  male
age
middle_aged       4     9
old               5     5
young             8     3

In [13]:
df.groupby(["manual_quality_review", 'gender', "age"], dropna=False)[
    "voice_id"
].count().unstack(fill_value=0)

age                           middle_aged  old  young
manual_quality_review gender
bad                   female            1    2      1
                      male              0    3      1
medium                female            1    0      0
                      male              2    1      0
ok                    female            2    3      7
                      male              6    1      2
very bad              male              1    0      0

In [16]:
df[df['manual_quality_review'].isin(['ok'])].groupby(['gender', "age"], dropna=False)[
    "voice_id"
].count().unstack(fill_value=0)

age     middle_aged  old  young
gender
female            2    3      7
male              6    1      2

In [ ]:
df[df['manual_quality_review'].isin(['ok', 'medium'])].groupby(['gender', "age"], dropna=False)[
    "voice_id"
].count().unstack(fill_value=0)

age     middle_aged  old  young
gender
female            3    3      7
male              8    2      2

In [10]:
df.groupby(['language', 'age', 'gender'], dropna=False)['voice_id'].count().unstack(fill_value=0)

gender                female  male
language age
en       middle_aged       1     5
         young             2     1
NaN      middle_aged       3     4
         old               5     5
         young             6     2

In [11]:
df['descriptive'].value_counts(dropna=False)

descriptive
pleasant        6
casual          5
confident       3
calm            3
NaN             3
intense         3
chill           2
formal          1
serious         1
mature          1
cute            1
crisp           1
upbeat          1
professional    1
excited         1
wise            1
Name: count, dtype: int64

In [17]:
age_group = 'old'
gender = 'male'
df_filtered = df[(df['age'] == age_group) & (df['gender'] == gender)]
df_filtered.shape

(39, 14)

In [18]:
df_filtered.sample(3)

,voice_id,name,preview_url,owner_id,permission_on_resource,is_legacy,is_mixed,accent,description,age,gender,category,language,descriptive
245,ugI9yHu7QMtMOjozITa3,Nimbus - deep & meditative,https://storage.googleapis.com/eleven-public-p...,NaN,admin,False,False,american,NaN,old,male,entertainment_tv,NaN,neutral
284,1SJjcjy45jFu6erSHVWq,Howard - American Radio Voice,https://storage.googleapis.com/eleven-public-p...,NaN,admin,False,False,american,NaN,old,male,advertisement,NaN,modulated
362,oUAzGw71wG6JCbHMK33s,Mark - calm and wise teacher,https://storage.googleapis.com/eleven-public-p...,NaN,admin,False,False,british,NaN,old,male,informative_educational,NaN,deep

In [20]:
df_filtered.sample(3)['voice_id'].to_list()

['HrciSEXYMv69BAJ4ixOW', 'oUAzGw71wG6JCbHMK33s', 'Zl8mecngHM53e1hl151S']